@import "./utils.scss";

.readMoreColor {
    color: $golden;
}

.textColor {
    color: $white;
}

.anchor {
    color: inherit;
    font-family: "Montserrat", sans-serif;
    font-size: inherit;
    &:hover {
        color: inherit;
    }
}
