@import "./utils.scss";

$bannerHeight: 60vh;

.blogSection {
    display: flex;
    flex-direction: column;
    background-color: $white;
    position: relative;
    font-family: "Montserrat", sans-serif;

    .header {
        position: static;
        top: 0;
        height: $bannerHeight;

        img {
            position: absolute;
            top: 0;
            width: 100%;
            height: $bannerHeight;
            z-index: 0;

            object-fit: cover;
        }

        h1 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: $bannerHeight;
            background-color: $overlay;
            text-align: center;
            display: flex;
            font-size: $fs-large;

            justify-content: center;
            align-items: center;
            text-transform: capitalize;

            color: $white;
        }
    }

    p {
        position: relative;
    }

    .blogContentsContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 4rem 0;
        margin: 0 auto;
        width: 80vw;

        p {
            font-size: $fs-small;
        }

        h3 {
            font-size: $fs-large;
        }

        h3,
        p {
            margin-bottom: 2rem;
        }

        @media only screen and (min-width: 996px) {
            padding: $marginTopBottom;
            width: 60vw;
        }
    }
}
