@import "./utils.scss";

$bannerHeight: 60vh;

.layer,
.parallax,
.someSpace,
.particleJS {
    height: 100vh;
    position: absolute;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.particleJS {
    opacity: 0.6;
}

.someSpace {
    h1 {
        color: black;
        font-size: 5em;
        font-weight: 100;
        letter-spacing: 0.2em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }

    animation: rotate 18s 0.5s infinite linear reverse;
}

.some-more-space {
    animation: rotate 15s 0.1s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg) translate3d(0, 1.5%, 0) rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg) translate3d(0, 1.5%, 0) rotateZ(-360deg);
    }
}

.blogSection {
    display: flex;
    flex-direction: column;
    background-color: $white;
    position: relative;
    font-family: "Montserrat", sans-serif;

    .header {
        position: static;
        top: 0;
        height: $bannerHeight;

        img {
            position: absolute;
            top: 0;
            width: 100%;
            height: $bannerHeight;
            z-index: 0;

            object-fit: cover;
        }

        h1 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: $bannerHeight;
            background-color: $overlay;
            text-align: center;
            display: flex;
            font-size: $fs-large;

            justify-content: center;
            align-items: center;
            text-transform: capitalize;

            color: $white;
        }
    }

    p {
        position: relative;
    }

    .blogContentsContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 4rem 0;
        margin: 0 auto;
        width: 80vw;

        p {
            font-size: $fs-small;
        }

        h3 {
            font-size: $fs-large;
        }

        h3,
        p {
            margin-bottom: 2rem;
        }

        @media only screen and (min-width: 996px) {
            padding: $marginTopBottom;
            width: 60vw;
        }
    }
}
