@import "./utils.scss";

.blogCardsContainer {
    width: 90vw;
    margin: 0 auto $marginTopBottom auto;
    font-family: "Montserrat", sans-serif;

    h3 {
        font-size: $fs-medium;
    }
    p {
        font-size: $fs-small;
    }

    a {
        color: $golden;
        font-size: $fs-small;
    }

    img {
        aspect-ratio: 3/4;
        max-height: 24rem;
        height: max-content;
    }
}

.pEllipsis {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.readMore {
    display: flex;
    align-items: center;

    span {
        vertical-align: middle;
    }
}
