@import "./utils.scss";

$bannerHeightMobile: 60vh;
$bannerHeightDesktop: 80vh;

.blogPages {
    padding-top: $marginTopBottom;

    h1 {
        font-size: $fs-desktop-large;
        text-align: center;
        margin: 0 auto 8rem auto;
        width: max-content;
    }
}
.layer,
.parallax,
.someSpace,
.particleJS,
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: $bannerHeightMobile;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 10;
    overflow: hidden;

    @media only screen and (min-width: 996px) {
        height: $bannerHeightDesktop;
    }
}
.overlay {
    background: rgba(0, 0, 0, 0.2);
    z-index: 100;
    display: flex;
    align-items: center;

    h3 {
        color: $white;
        font-size: $fs-medium;
        width: 80vw;
        text-align: center;
        text-transform: capitalize;
        margin: 0 auto;
    }

    @media only screen and (min-width: 996px) {
        justify-content: center;
        width: 100%;
        h3 {
            text-align: center;
            font-size: $fs-desktop-large;
        }
    }
}

.parallax {
    background: #0f2027; /* fallback for old browsers */

    background: linear-gradient(
        to left,
        #2c5364,
        #203a43,
        #0f2027
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.someSpace {
    h1 {
        color: black;
        font-size: 5em;
        font-weight: 100;
        letter-spacing: 0.2em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }

    animation: rotate 18s 0.5s infinite linear reverse;
}

.some-more-space {
    animation: rotate 15s 0.1s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg) translate3d(0, 1.5%, 0) rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg) translate3d(0, 1.5%, 0) rotateZ(-360deg);
    }
}

.blogSection {
    position: relative !important;
    display: flex;
    flex-direction: column;
    background-color: $white;
    font-family: "Catamaran", sans-serif;
}

.blogContentsContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 0;
    margin: 0 auto;
    width: 80vw;
    padding-top: calc(#{$bannerHeightMobile} + #{$marginTopBottom-sm});
    font-family: "Catamaran", sans-serif;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: $fs-x-large;
    }

    a {
        color: $orange;
        cursor: pointer;
    }

    strong,
    p,
    li {
        font-family: inherit;
        font-size: $fs-small;
        margin-bottom: 1rem;
    }

    li {
        list-style: inside;
        padding-left: $padding-sm;
        &:first-letter {
            text-transform: uppercase;
        }
    }

    ul > p {
        margin-bottom: 0rem;
    }

    img {
        margin: 4rem auto;
        display: block;
        width: 100%;
        height: auto;
        max-width: 72vw;
        max-height: 60vh;

        @include breakpoint(desktop) {
            max-width: 40vw;
        }
    }

    @include breakpoint(desktop) {
        padding-top: calc(#{$bannerHeightDesktop} + #{$marginTopBottom});
        width: 60vw;

        li {
            padding-left: 4rem;
        }
    }
}

.restOfTheBlogs {
    display: flex;

    width: 60vw;

    margin: 4rem auto $marginTopBottom auto;

    ul {
        li {
            a {
                font-size: $fs-medium;
                color: $blue;
            }
        }
    }
}

.blogCardsContainer {
    width: 90vw;
    margin: 0 auto $marginTopBottom auto;
    font-family: $font-family;

    h3 {
        font-size: $fs-medium;
    }
    p {
        font-size: $fs-small;
    }

    // img {
    //     max-width: 100%;
    //     max-height: 100%;
    // }
}

.cardsContentsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80vw;

    background-color: white;
    box-shadow: $box-shadow;

    color: $black;

    transition: $transition;
    margin: 4rem auto;

    &:hover {
        text-decoration: none;
        color: inherit;
        box-shadow: $box-shadow-hover;
    }

    figure {
        display: block;
        // margin: 2rem 4rem 2rem 2rem;
    }

    img {
        height: auto;
        width: 80vw;
    }

    article {
        padding: 2rem;
        li {
            h3 {
                font-size: $fs-medium;
                font-weight: $fw-bold;
                line-height: 2.4rem;
                padding-bottom: 1rem;
            }
        }

        div {
            p {
                margin: 0;
                line-height: 2rem;
            }
        }
    }
    @include breakpoint(tablet) {
        flex-direction: row;
        align-items: flex-start;

        figure {
            display: block;
            margin: 2rem 0 2rem 2rem;
        }

        img {
            height: auto;
            width: 20vw;
        }

        article {
            width: 60vw;
            padding: 2rem;

            li {
                h3 {
                    line-height: 2.4rem;
                    padding-bottom: 0;
                }
            }
        }
    }

    @include breakpoint(desktop) {
        align-items: center;
        justify-content: space-around;

        figure {
            display: block;
            margin-left: 2rem;
            width: 26rem;
            img {
                width: inherit;
            }
        }

        article {
            width: 80%;
            padding-left: 4rem;

            li {
                h3 {
                    line-height: inherit;
                    padding-bottom: 0;
                }
            }
        }
    }
}

.pEllipsis {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @include breakpoint(tablet) {
        -webkit-line-clamp: 2;
    }

    @include breakpoint(desktop) {
        -webkit-line-clamp: 3;
    }
}
