@import "./utils.scss";

.summarySection {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23080512' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%230f091d' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23120e27' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23131232' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%2314143d' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    color: $white;

    .summaryDiv1,
    .summaryDiv2 {
        width: 90vw;
        text-align: center;
        padding: 4rem 0;
        margin: 0 auto;
        h1 {
            font-size: $fs-desktop-large;
        }

        p {
            margin-top: 4rem;
            font-size: $fs-medium;
        }
    }

    @media only screen and (min-width: 996px) {
        flex-direction: row;

        .summaryDiv1,
        .summaryDiv2 {
            width: 50%;
            padding: $marginTopBottom 8rem;
        }

        .summaryDiv1 {
            border-right: 1px solid white;
        }
    }
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-size: $fs-medium;
}

.placeholder {
    background: #888;
    height: 200px;
    width: 100%;
}

.cardsSection {
    text-align: center;
    margin: 4rem auto;
    justify-content: center;

    ul {
        display: grid;

        grid-template-columns: repeat(auto-fit, minmax(50vw, 1fr));
        grid-column-gap: 0;
        grid-row-gap: 4rem;

        align-items: center;
        align-self: center;
        justify-content: center;
    }

    @media only screen and (min-width: 996px) {
        display: block;
        margin: $marginTopBottom auto;

        ul {
            margin: 0 auto;
            display: grid;
            width: 80%;
            grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
            gap: 4rem;
            align-items: center;
        }
    }
}

.blogCardsContainer {
    display: flex;
    flex-direction: column;
}

.teamPageSection {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: $marginTopBottom 0;

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        margin-top: 4rem;
    }
    @media only screen and (min-width: 768px) {
        ul {
            width: 80vw;
            flex-direction: row;
        }
    }
    @media only screen and (min-width: 996px) {
        h3 {
            font-size: $fs-desktop-large;
            padding: 4rem;
        }

        ul {
            width: 60rem;
        }
    }
}

.secretSection {
    display: flex;

    flex-direction: column;
    align-items: center;
    font-size: $fs-medium;
    text-align: center;
    text-transform: uppercase;
    padding: 8rem 0;

    .secretDiv {
        margin-bottom: 4rem;

        background-color: $white;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%23064e77'/%3E%3Cstop offset='1' stop-color='%230a7dbe'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%238f8f8f'/%3E%3Cstop offset='0.09' stop-color='%23b3b3b3'/%3E%3Cstop offset='0.18' stop-color='%23c9c9c9'/%3E%3Cstop offset='0.31' stop-color='%23dbdbdb'/%3E%3Cstop offset='0.44' stop-color='%23e8e8e8'/%3E%3Cstop offset='0.59' stop-color='%23f2f2f2'/%3E%3Cstop offset='0.75' stop-color='%23fafafa'/%3E%3Cstop offset='1' stop-color='%23ffffff'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='.5' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: top left;
        background-size: cover;

        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 8rem 0;
        h3 {
            width: 60%;
            font-size: $fs-desktop-large;
            font-weight: bolder;
            color: $white;

            line-height: $line-height-header;
            margin-bottom: 2rem;

            span {
                font-weight: bolder;
                display: block;
                margin: 0;
            }
        }

        p {
            font-weight: $fw-bold;
            color: $white;
        }
    }

    .trustDiv {
        p {
            font-size: $fs-large;
            font-weight: $fw-bold;
        }
    }
}

.backgroundGradient1 {
    background: #9cecfb;
    background: linear-gradient(to right, #0052d4, #65c7f7, #9cecfb);
}

.backgroundGradient2 {
    background-color: #ff3cac;
    background-image: linear-gradient(
        225deg,
        #ff3cac 0%,
        #784ba0 50%,
        #2b86c5 100%
    );
}

.backgroundGradient3 {
    background: #c2e59c;
    background: linear-gradient(to right, #64b3f4, #c2e59c);
}

.backgroundGradient1,
.backgroundGradient2,
.backgroundGradient3 {
    color: $white;
}
