@import "./utils.scss";

.section1 {
    display: flex;
    flex-direction: column;
    padding: 0 $padding-mobile 4rem;

    h3 {
        padding: 8rem 0;
        text-align: center;
        font-size: $fs-large;
        font-weight: $fw-regular;
    }

    p {
        padding: 1.4rem 0;

        font-size: $fs-small;
        font-weight: $fw-regular;
    }

    @media only screen and (min-width: 996px) {
        padding: 2rem 6rem;

        h3 {
            font-size: $fs-x-large;
        }

        section {
            display: flex;
            justify-content: space-between;

            div,
            p {
                width: 350rem;
            }

            div {
                margin-right: 8rem;
            }

            p {
                padding: 0;
            }
        }
    }
}

.section3 {
    // background-color: yellow;
    height: 90vh;

    display: flex;
    flex-direction: column;

    align-items: center;

    h3 {
        font-size: $fs-large;
        font-weight: $fw-medium;
        margin-top: 40vh;
        margin-bottom: 4rem;
    }

    @media only screen and (min-width: 996px) {
        h3 {
            font-size: $fs-desktop-large;
        }
    }
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-size: $fs-medium;
}

.placeholder {
    background: #888;
    height: 200px;
    width: 100%;
}
