@import "./utils.scss";

.offeringCards {
    height: 16rem;
    aspect-ratio: 1/1;

    @media only screen and (min-width: 996px) {
        height: 26rem;
    }
}

.clienteleCards {
    height: 12rem;
    aspect-ratio: 4/3;

    @media only screen and (min-width: 996px) {
        height: 20rem;
    }
}

.cardOuter {
    border: 1px solid white;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    text-align: center;
    justify-content: center;

    margin: 0 auto;
    p {
        text-transform: uppercase;
        font-weight: $fw-bold;
    }
}

.pGroup {
    padding-top: 2rem;

    @media only screen and (min-width: 996px) {
        font-size: $fs-small;
    }
}
