@import "./utils.scss";

.cardsOuter {
    width: 28rem;

    display: flex;
    flex-direction: column;

    img {
        width: inherit;
        aspect-ratio: 4/3;
    }

    .cardsContents {
        padding: 2rem;
        h1 {
            font-size: $fs-medium;
            margin-bottom: 2rem;
        }

        p {
            font-size: $fs-small;
            margin-bottom: 2rem;
        }

        a {
            font-size: $fs-small;
            font-weight: $fw-bold;
        }
    }
}
