@import "./utils.scss";

.cardsOuter {
    width: 24rem;

    display: flex;
    flex-direction: column;

    box-shadow: $box-shadow;
    transition: $card-transition;
    border-radius: $card-border-radius;
    margin: 0 auto;

    &:hover {
        box-shadow: $box-shadow-hover;

        h1 {
            color: $blue;
        }
    }

    img {
        width: inherit;
        aspect-ratio: 4/3;
        border-radius: $card-border-radius $card-border-radius 0 0;
        z-index: 0;
    }
    .cardsContents {
        padding: 2rem;
        text-align: left;

        h1 {
            font-size: $fs-medium;
            margin-bottom: 2rem;
            transition: $card-transition;
        }

        p {
            font-size: $fs-small;
            margin-bottom: 2rem;
        }

        a {
            font-size: $fs-small;
            font-weight: $fw-bold;
            color: $golden;
        }
    }
}
