@import "./utils.scss";

.offeringCards {
    font-family: $font-family;
    font-size: $fs-small;
    aspect-ratio: 1/1;
    background-color: $white;
    margin: 4rem;

    height: 20rem;

    @include breakpoint(tablet) {
        margin: 0;
    }

    @media only screen and (min-width: 996px) {
        height: 26rem;
    }
}

.clienteleCards {
    font-family: $font-family;
    font-size: $fs-small;
    background-color: $white;

    width: 60vw;
    aspect-ratio: 4/3;

    @include breakpoint(tablet) {
        height: 16rem;
        width: unset;
    }

    @media only screen and (min-width: 996px) {
        height: 20rem;
    }
}

.cardOuter {
    display: grid;
    grid-template-areas:
        "name"
        "link";
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 2rem auto;
    box-shadow: $box-shadow;
    border-radius: 0.5rem;

    transition: $card-transition;

    &:hover {
        box-shadow: $box-shadow-hover;
    }

    p {
        text-transform: uppercase;
        font-weight: $fw-bold;
    }
}

.nameArea {
    grid-area: name;
    padding-top: 2rem;

    @media only screen and (min-width: 996px) {
        font-size: $fs-small;
    }
}

.linkArea {
    a {
        grid-area: link;
        font-family: inherit;
        text-transform: capitalize;
        background-color: $golden;
        padding: 1rem 2rem;
        border-radius: $border-radius;
        color: $white;
        font-size: $fs-x-small;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
