@import "./utils.scss";

.careersSection {
    display: flex;
    flex-direction: column;
    background-color: $white;
}

.careersHeader {
    background-color: $blueBGColor;

    position: relative;
    width: 100%;
    height: 50rem;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: $fs-desktop-large;
        color: $white;
        text-transform: uppercase;
        line-height: 3.4rem;
    }

    .spanContainer {
        display: block;

        span {
            color: $white;
        }
    }

    @media only screen and (min-width: 996px) {
        h1 {
            font-size: $fs-desktop-xx-large;
        }
    }
}

.careersCardsContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.careersCards {
    list-style: none;
    margin-top: 2rem;
    padding: 4rem;
    text-align: center;
    width: 90vw;
    margin: 0 auto;
    box-shadow: $box-shadow;

    h3 {
        text-transform: capitalize;
        font-size: $fs-large;
    }

    p {
        font-size: $fs-small;
    }

    h3,
    p {
        margin-bottom: 2rem;
    }

    button {
        background-color: $golden !important;
        color: $white;
        padding: 2rem;
        font-size: $fs-x-small !important;
    }

    @media only screen and (min-width: 996px) {
        width: 80rem;

        h3 {
            font-size: $fs-large;
        }
    }
}
