@import "./utils.scss";

.footer {
    background-color: $black;
    color: $white;

    font-family: "Catamaran", sans-serif;

    overflow: hidden;

    text-align: center;

    .footerContainer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;

        width: 90vw;

        margin: 4rem auto;

        li,
        p {
            font-size: $fs-small;
            text-transform: capitalize;
        }

        li {
            list-style: none;
            margin: 1rem 0;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        @include breakpoint(tablet) {
            flex-direction: row;
            text-align: left;
        }

        @include breakpoint(desktop) {
            padding: 8rem;
        }
    }
}

.companyLogo {
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    p {
        margin: 0;
    }

    h1,
    p {
        font-family: "Catamaran", sans-serif;
    }
}

.ourOfferings {
    margin-bottom: 4rem;
    h1 {
        width: max-content;

        margin: 1rem auto 2rem;

        .horizontalBorder {
            margin-top: 2rem;
        }
    }

    @include breakpoint(tablet) {
        margin: 0;
        h1 {
            margin: 0 0 2rem;
        }
    }
}

.companyLogo,
.ourOfferings {
    h1 {
        text-transform: capitalize;

        @include breakpoint(desktop) {
            font-size: $fs-xx-large;
        }
    }
}
