@import "./utils.scss";

.header {
    height: 28rem;

    font-size: $fs-medium;
    font-weight: 700;

    padding: 4rem $padding-mobile 0;
    &::before {
        content: "";
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-42%, -42%);

        background: radial-gradient(
            circle,
            rgba(43, 46, 74, 0.7) 0%,
            rgba(43, 46, 74, 0.0001) 70%
        );

        width: 110vw;
        padding-top: 100%;
        z-index: 20;
    }

    @media only screen and (min-width: 640px) {
        // background: red;
    }

    @media only screen and (min-width: 996px) {
        text-align: right;
        text-transform: uppercase;

        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100rem;

        padding: 0 6rem;

        &::before {
            transform: translate(-50%, -40%);
            width: 100vw;
        }

        h3 {
            font-size: $fs-xxx-large;
        }
    }
}
