@import "./utils.scss";

.initialPage {
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    height: 100vh;

    h3 {
        position: relative;

        top: 50%;
        z-index: 10;

        font-size: $fs-large;
        font-family: "Montserrat", sans-serif;
        font-weight: $fw-bold;

        width: 80vw;
        color: $white;

        padding-left: 2rem;
        margin: 0 auto;
    }

    @include breakpoint(tablet) {
        display: flex;
        justify-content: center;
        flex-direction: column;

        h3 {
            padding: 0;
            top: 0;
            font-size: $fs-desktop-x-large;
            width: 70vw;
        }
    }

    @include breakpoint(desktop) {
        justify-content: center;

        h3 {
            position: static;
            margin: 0 0 0 $marginLeftRight;
            width: 100rem;
            line-height: 10rem;
            font-size: $fs-desktop-xxx-large;
            font-weight: $fw-x-bold;
        }
    }
}
