@import "./utils.scss";

.navbarHeaderAbsolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    padding: 2rem;
    color: $white;
    z-index: 100;
    ul {
        li {
            font-size: $fs-small;
        }
    }
    @media only screen and (min-width: 996px) {
        padding: 2rem 6rem;
    }
}

.navbar {
    position: sticky;
    box-shadow: $box-shadow;
}

.showNavbar {
    display: flex;
}

.hideNavbar {
    display: none;
}

.companyName {
    font-size: $fs-medium;
}

.navbarHeaderAbsolute {
    text-transform: uppercase;
}

.navbarMenu {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    width: 100vw;
    height: 100vh;
    color: black;

    font-size: $fs-medium; // effects the font-size of close button

    li {
        list-style: none;
        font-size: $fs-medium;
    }

    @media only screen and (min-width: 996px) {
        position: relative;
        background: none;

        flex-direction: row;
        justify-content: space-between;

        color: inherit;

        height: unset;
        width: 40rem;
    }
}

.close {
    position: absolute;
    top: 4rem;
    right: 4rem;

    @media only screen and (min-width: 996px) {
        display: none !important;
    }
}

.hamburgerMenu {
    @media only screen and (min-width: 996px) {
        display: none !important;
    }
}

.hideMenu {
    display: none;
}

.showMenu {
    display: flex;
}

.changeBackgroundColor {
    background: white;
    color: black;
}
