@import "./utils.scss";

.navbarHeaderAbsolute {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.6);

    font-family: "Montserrat", sans-serif;
    font-weight: $fw-medium !important;

    text-transform: uppercase;

    width: 100%;

    padding: $padding-sm;
    margin: 0;

    color: $white;
    z-index: 1000;

    h1 {
        font-size: $fs-medium;
    }

    ul {
        li {
            font-size: $fs-small;
            cursor: pointer;
            z-index: 100;
            transition: 0.3s all;
            &:first-of-type {
                margin-left: 0;
            }
            &:hover {
                opacity: 0.75;
            }
        }
    }

    a {
        color: inherit;
    }

    $activeBorder: $white;

    @include breakpoint(desktop) {
        width: 100%;
        justify-content: space-between;

        ul {
            width: max-content;

            li {
                padding: 1rem 2rem;
                margin: 0;
                font-weight: $fw-regular;
            }
        }
    }
}
.navbarMenu {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    background-color: $white;
    width: 100vw;
    height: 100vh;
    color: $black;
    padding-top: 15vh;

    font-size: $fs-medium; // effects the font-size of close button

    li {
        list-style: none;
        font-size: $fs-medium;
        padding: 1rem 1rem 1rem 2rem;
        font-weight: $fw-bold;

        a {
            padding: 0;
        }
    }

    @include breakpoint(desktop) {
        position: relative;
        background: none;

        flex-direction: row;
        justify-content: space-between;

        color: inherit;
        padding-top: 0;
        height: unset;
        width: 40rem;

        li {
            font-size: $fs-x-small !important;
        }
    }
}

.showNavbar {
    display: flex;
}

.hideNavbar {
    display: none;
}

.companyName {
    font-size: $fs-medium;
}

.close {
    position: absolute;
    top: $padding-sm;
    right: $padding-sm;

    @include breakpoint(desktop) {
        display: none !important;
    }
}

.hamburgerMenu {
    @include breakpoint(desktop) {
        display: none !important;
    }
}

.hideMenu {
    display: none;
}

.showMenu {
    display: flex;
}

.changeBackgroundColor {
    background: $white;
    color: $black;

    box-shadow: $box-shadow;
    transition: $transition;

    &:hover {
        box-shadow: $box-shadow-hover;
    }
}

.comingSoon {
    display: block;
    font-weight: $fw-regular;
    font-size: $fs-x-small;
}

.menuList {
    display: none;
    @include breakpoint(desktop) {
        display: block;
        text-transform: capitalize;
        p {
            margin: 0;
        }
    }
}

.mobileSubMenu {
    display: none;
    flex-direction: column;
    transition: all 0.3s ease-out;
    li,
    a,
    span {
        font-size: $fs-x-small;
    }
    span {
        text-transform: capitalize;
    }
    li {
        margin: 0;
        padding-left: 4rem;
        a {
            font-weight: $fw-regular;
        }
    }
}

.liOurOffering {
    display: flex;
    flex-direction: row;
    align-items: center;
}
