@import "./utils.scss";

.navbar {
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    padding: $padding-mobile;
    font-size: $fs-small;

    // background: red;

    z-index: 100;
}
