@import "./utils.scss";

.servicesLi {
    z-index: 100;
}

.menuItemDesktop {
    display: none;

    padding: 0 0 0 4rem;
    font-weight: $fw-regular;
    text-transform: capitalize;

    a,
    p {
        font-size: $fs-small;
    }

    @media only screen and (min-width: 996px) {
        display: flex;
    }
}
