@import "./utils.scss";

.servicesLi {
    z-index: 100;
}

.menuItem {
    padding: 0 0 0 4rem;
    font-weight: $fw-regular;
    text-transform: capitalize;
    a,
    p {
        font-size: $fs-small;
    }

    p {
        margin: 0;
    }

    @include breakpoint(desktop) {
        display: flex;
    }
}

.mobileSubMenu {
    li {
        font-family: "Catamaran";
        font-weight: $fw-regular;
        font-size: 10px;
        padding: 0;
        padding-left: calc(#{$padding-sm}* 2);
        height: 1rem !important;
        a {
            font-size: $fs-x-small;
        }
    }
}
