@import "./utils.scss";

.serviceSection {
    padding: 12rem 16rem 0;

    background-color: hsl(240, 50%, 8%);
    color: $white;
    display: flex;

    height: 100vh;

    &::before {
        content: "";
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-42%, -42%);

        background: radial-gradient(
            circle,
            rgba(43, 46, 74, 0.7) 0%,
            rgba(43, 46, 74, 0.0001) 70%
        );

        width: 100vw;
        padding-top: 80%;
        z-index: 20;
    }

    img {
        height: 60rem;
        aspect-ratio: 3/4;
    }

    .contentArticle {
        padding-right: 12rem;

        z-index: 100 !important;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: max-content;

        h3 {
            font-size: $fs-desktop-xx-large;
            font-weight: $fw-bold;
            text-transform: uppercase;
            width: 40rem;
        }

        article {
            font-size: $fs-medium;
            margin-top: 4rem;
            p {
                margin-bottom: 2rem;
            }
        }
    }
}

.horizontalBorder {
    background-color: $white;
    height: 0.4rem;
    width: 10rem;
    margin-top: 4rem;
}
