@import "./utils.scss";

.serviceSection {
    background-color: $blueBGColor;
    color: $white;
    width: 100vw;

    &::before {
        content: "";
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-42%, -42%);

        background: radial-gradient(
            circle,
            rgba(43, 46, 74, 0.7) 0%,
            rgba(43, 46, 74, 0.0001) 70%
        );

        width: 100vw;
        padding-top: 88%;
        z-index: 20;
    }
}

.serviceArticleContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;

    padding: 12rem 0 4rem 4rem;

    img {
        width: 80vw;
        aspect-ratio: 3/4;
    }

    .contentArticle {
        z-index: 100 !important;
        width: 80vw;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: max-content;

        h3 {
            font-size: $fs-large;

            font-weight: $fw-bold;
            text-transform: uppercase;
            width: 80vw;
        }

        article {
            font-size: $fs-small;
            margin: 4rem 0;
            p {
                margin-bottom: 2rem;
            }
        }
    }

    @media only screen and (min-width: 996px) {
        padding: $marginTopBottom 4rem 0 4rem;
        height: 100vh;
        flex-direction: row;

        img {
            height: 56rem;
            width: auto;
            aspect-ratio: 3/4;
        }

        .contentArticle {
            padding-right: 8rem;
            width: 50vw;

            h3 {
                font-size: $fs-desktop-xx-large;
                width: 60rem;
            }

            article {
                margin: 0;
                margin-top: 4rem;
                font-size: $fs-medium;
            }
        }
    }

    @media only screen and (min-width: 1200px) {
        padding: 12rem 16rem 0 16rem;

        .contentArticle {
            padding-right: 12rem;
        }
    }
}

.horizontalBorder {
    background-color: $white;
    height: 0.4rem;
    width: 10rem;
    margin-top: 4rem;
}

.serviceSection2 {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $marginTopBottom 4rem;

    @media only screen and (min-width: 996px) {
        flex-direction: row;
    }
}

.menuContainer {
    display: flex;
    flex-direction: column;

    background-color: $white;
    width: 90vw;
    margin: 0 auto;
    overflow-x: hidden;

    color: $black;

    list-style: none;
    width: max-content;
    padding: 4rem;
    margin-bottom: 4rem;
    text-transform: uppercase;

    li {
        font-size: $fs-medium;
        font-weight: $fw-bold;
        padding: 1rem 0;
        border-bottom: 1px solid $border-bottom-color;
    }

    @media only screen and (min-width: 996px) {
        width: max-content;
        padding: 8rem 8rem 8rem 10rem;
        margin: 0;
    }
}

.articleMid {
    width: 90vw;
    margin-bottom: 4rem;

    h3 {
        font-size: $fs-large;
    }

    p {
        margin-top: 4rem;
        font-size: $fs-medium;
    }

    @media only screen and (min-width: 996px) {
        width: 60rem;
    }
}

.articleDirector {
    padding: 0 0 0 4rem;
    margin: 0 auto;

    img {
        background-color: red;
        height: 16rem;
        aspect-ratio: 1/1;
    }

    h3,
    p {
        font-size: $fs-small;
        margin-top: 1rem;
    }

    a {
        text-transform: uppercase;
        font-weight: 100;
    }

    a {
        p {
            color: red;
            margin-top: 4rem;
        }
    }

    @media only screen and (min-width: 996px) {
        margin: 0;
    }
}
