@import "./utils.scss";

.comingSoon {
    display: block;
    font-weight: $fw-regular;
    font-size: $fs-x-small;
}

.menuList {
    display: none;
    @include breakpoint(desktop) {
        display: block;
        text-transform: capitalize;
        p {
            margin: 0;
        }
    }
}

.mobileSubMenu {
    display: none;

    li,
    a,
    span {
        font-size: $fs-x-small;
    }
    span {
        text-transform: capitalize;
    }
    li {
        margin: 0;
        padding: 0;
        a {
            font-weight: $fw-regular;
        }
    }
}
