@import "./utils.scss";

.comingSoon {
    display: block;
    font-weight: $fw-regular;
    font-size: $fs-x-small;
}

.menuList {
    display: none;
    @include breakpoint(desktop) {
        display: block;
        text-transform: capitalize;
        p {
            margin: 0;
        }
    }
}
