@import "./utils.scss";

.teamPageCards {
    height: 40rem;
    aspect-ratio: 1/2;

    border: 1px solid white;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr 3fr;
    gap: 0px 0px;
    grid-template-areas:
        "picture"
        "name"
        "linkedin";

    text-align: center;

    margin-bottom: 4rem;

    .placeholder {
        grid-area: picture;
    }

    .nameDesignation {
        grid-area: name;
        display: flex;
        flex-direction: column;
        padding: 0;

        h3 {
            font-size: $fs-small;
            font-weight: $fw-bold;
            margin: 0;
            padding: 0;
        }

        p {
            font-size: $fs-small;
            font-weight: $fw-regular;
        }
    }

    .placeholder,
    .nameDesignation,
    a {
        place-self: center;
    }

    a {
        grid-area: linkedin;
        align-self: end;
        place-self: end center;
        margin-bottom: 2rem;
    }
}

.placeholder {
    width: 10rem;
    aspect-ratio: 1/1;

    background: white;
    border-radius: 50%;
}
