@import "./utils.scss";

.teamPageCards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    aspect-ratio: 1/2;

    text-align: center;

    height: 40rem;

    border: 1px solid white;
    border-radius: 0.5rem;

    box-shadow: $box-shadow;
    transition: $card-transition;

    padding: 2rem;
    margin: 2rem;

    .avatarImage {
        img {
            width: 12rem;
            height: 12rem;
            aspect-ratio: 1/1;
            border-radius: 50%;
            filter: grayscale(100%);
        }
    }

    .nameDesignation {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;

        h3 {
            font-size: $fs-small;
            font-weight: $fw-bold;
            margin: 0;
            padding: 0;
            background-color: inherit;
            transition: $card-transition;
            text-transform: capitalize;
        }

        p {
            font-size: $fs-small;
            font-weight: $fw-regular;
        }
    }

    a {
        position: relative;
        bottom: 0;
        height: max-content;
        opacity: 0.6;
        color: inherit;
    }

    &:hover {
        box-shadow: $box-shadow-hover;

        .nameDesignation {
            h3 {
                color: $blue;
            }
        }
    }
}
