@import "./utils.scss";

.teamPageCards {
    height: 40rem;
    aspect-ratio: 1/2;

    border: 1px solid white;

    text-align: center;

    margin-bottom: 4rem;
    box-shadow: $box-shadow;
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: space-between;

    transition: $card-transition;

    .nameDesignation {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;

        h3 {
            font-size: $fs-small;
            font-weight: $fw-bold;
            margin: 0;
            padding: 0;
            background-color: inherit;
            transition: $card-transition;
        }

        p {
            font-size: $fs-small;
            font-weight: $fw-regular;
        }
    }

    a {
        position: relative;
        bottom: 0;
        height: max-content;
        opacity: 0.6;
    }

    &:hover {
        box-shadow: $box-shadow-hover;

        .nameDesignation {
            h3 {
                color: $blue;
            }
        }
    }
}
