// colors
$white: #fafafa;
$black: #16161d;

// Font size
$fs-small: 1.6rem;
$fs-medium: 2rem;
$fs-large: 2.4rem;
$fs-x-large: 2.8rem;
$fs-xx-large: 3.2rem;
$fs-xxx-large: 3.6rem;

// Font weight

$fw-bold: 700;
$fw-medium: 500;
$fw-regular: 400;

// padding
$padding-mobile: 2rem;
