// colors
$white: #fafafa;
$black: #16161d;

// Font size
$fs-x-small: 1.2rem;
$fs-small: 1.6rem;
$fs-medium: 2rem;
$fs-large: 2.4rem;
$fs-x-large: 2.8rem;
$fs-xx-large: 3.2rem;
$fs-xxx-large: 3.6rem;
$fs-desktop-large: 4.2rem;
$fs-desktop-x-large: 4.6rem;
$fs-desktop-xx-large: 5rem;
$fs-desktop-xxx-large: 10.5rem;

// Font weight

$fw-bold: 700;
$fw-medium: 500;
$fw-regular: 400;

// padding
$padding-mobile: 2rem;
$box-shadow: 1px 2px 12px 0px rgba(0, 0, 0, 0.5);
