// colors
$white: #fafafa;
$black: #16161d;
$blueBGColor: hsl(240, 50%, 8%);
$golden: rgb(194, 151, 102);
$blue: rgb(69, 137, 252);
$border-bottom-color: #cecece;

// Font size
$fs-xx-small: 0.8rem;
$fs-x-small: 1.2rem;
$fs-small: 1.6rem;
$fs-medium: 2rem;
$fs-large: 2.4rem;
$fs-x-large: 2.8rem;
$fs-xx-large: 3.2rem;
$fs-xxx-large: 3.6rem;
$fs-desktop-large: 4.2rem;
$fs-desktop-x-large: 4.6rem;
$fs-desktop-xx-large: 5rem;
$fs-desktop-xxx-large: 10.5rem;

// Font weight

$fw-bold: 700;
$fw-medium: 500;
$fw-regular: 400;

// padding
$padding-mobile: 2rem;

// animation
$card-transition: ease-in 0.3s;

// desktop margin
$marginTopBottom: 12rem;

// shadows
$box-shadow: 1px 2px 12px 0px rgba(0, 0, 0, 0.09);
$box-shadow-hover: 1px 2px 12px 0px rgba(0, 0, 0, 0.2);
$text-shadow: 0px -2px 3px rgba(0, 0, 0, 1);

// line height
$line-height-header: 3rem;

// border radius
$card-border-radius: 0.5rem;

// overlay
$overlay: rgba(0, 0, 0, 0.55);

.spanColor {
    display: block;
    // color: hsl(32.8, 92%, 50%);
    // color: hsl(35.1, 99%, 59%);
    // color: hsl(30.4, 89.5%, 48%);
    color: $golden;
    text-shadow: $text-shadow;
}

.multiLineHeader {
    font-size: $fs-medium;
    text-transform: uppercase;
    text-shadow: $text-shadow;
    line-height: $line-height-header;
    padding: 4rem 0;
    margin-bottom: 4rem;
    width: 100%;
    text-align: center;

    @media only screen and (min-width: 996px) {
        font-size: $fs-desktop-large;
    }
}

.noMargin {
    margin: 0;
}
